<div class="form-horizontal" action="/action_page.php">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder="Chandan Bhindwar" [(ngModel)] = 'studentData.name'>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Father's Name:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="pwd" placeholder="Jay Prakash Bhindwar" [(ngModel)] = 'studentData.fathersName'>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Mother's Name:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="pwd" placeholder="Pramila Devi" [(ngModel)] = 'studentData.mothersName'>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Village:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="pwd" placeholder="Laukaha" [(ngModel)] = 'studentData.village'>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Mobile Number:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="pwd" placeholder="9162668296" [(ngModel)] = 'studentData.mobileNumber'>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" (click) = 'saveData()'>Submit</button>
    </div>
  </div>
</div>