<div class="container">
  <h2>Registered Student List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Sl.No.</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Village</th>
        <th>Some Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sdudent of studentData; let indx = index">
        <td>{{indx+1}}</td>
        <td>{{sdudent.name}}</td>
        <td>{{sdudent.fathersName}}</td>
        <td>{{sdudent.village}}</td>
        <td>
          <a [routerLink]="['/idDetail',sdudent.id]">
            <button type="button" class="btn btn-info">View</button>
          </a>
          <a [routerLink]="['/idUpdate',sdudent.id]">
            <button type="button" class="btn btn-success">Update</button>
          </a>
          <button class="btn btn-danger" (click)="deleteData(sdudent.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>