<diV>
  <h2>Student Details Information</h2>
  <h3>
    Name:- {{studentData.name}}<br><br>
    Father's Name:- {{studentData.fathersName}}<br><br>
    Mother's Name:- {{studentData.mothersName}}<br><br>
    Village:- {{studentData.village}}<br><br>
    Mobile Number:- {{studentData.mobileNumber}}<br><br>

  </h3>
</diV>